
body {

    font-family: 'Helvetica', 'Arial', sans-serif;
    background-image:url("beerpong.jpg");
    background-attachment: fixed;
    text-align:center;

}
html {
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    padding: .7em 1em .5em;
    background: white;
    border-radius: .5em;
    margin: .2em;
}

header {
    text-align:center;
    background: black;
    color: white;
    padding: 1.5em 2em;
    margin-bottom: 1vh;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    border-radius: .5em;
    border-radius: .5em;
    width:auto;
    max-width:100%;
    height: auto;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

form #button {
    grid-column-start: 2;
    padding:5px;
    border: none;
    text-align: center;
    width: 5em;
    margin: auto 0 auto 5.5em;
    background: tan;
}

form #button:hover{
    background: rgb(138, 119, 94);
    color: white;
}


nav ul {
    padding: 0;
    margin: .5em;
    text-align: center;
}

h1 {
    font-size: 4vw;
    text-transform: uppercase;
    color: #fff508;
}
h2{
    margin-top: 0;
    font-size: 3.5vw;
    text-align:center;
    text-transform: uppercase;
}

h3 {
    margin-top: 0;
    font-size: 3vw;
    text-align:center;
    text-transform: uppercase;
}

h4 {
    font-size:3vw;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
    float: left;
    width: 33.33%;
}

.content {
    display: inline-block;
    margin: 0 auto;
    background-color:rgba(255, 255, 255, 0.5);;
    padding: 2em 2em;
    border-radius: .5em;
    width: 70%;
    border: 3px solid #000000;
    
}

.ottelut {
    max-width: 100%;
  color:black;
  border-top:3px solid black;
  padding: 2vh;
}

.ottelu {
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 1em;
  
}
.ottelutiedot {
    padding-left:0;
    box-sizing: border-box;
    text-align: center;
    list-style-type: none; 
}
.test {
    clear: both;
}
.joukkueet1 {
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    float: left;
    width: 33.33%;
    padding: 10px;
    
}
.joukkueet2 {
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    float: left;
    width: 33.33%;
    padding: 10px;
    
}
.ottelunappi {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5em;
}

nav li a {
    text-decoration: none;
    color: #000;
}

nav li:hover {
    background-color: rgb(226, 226, 226);
}