{% extends "layout.html" %}
{% block title %}Hall of fame{% endblock %}
{% block content %}

<h2>Hall of fame</h2>
<hr>
<table class="scoretable">
    <tr>
      <th>Joukkue</th>
      <th>Voitot</th>
      <th>Häviöt</th>
      <th>KD-Ratio</th>
    </tr>
{% for joukkue in joukkueet %}
    <tr>
      <td>{{ joukkue[0] }}</td>
      <td>{{ joukkue[1] }}</td>
      <td>{{ joukkue[2] }}</td>
      <td>{{ joukkue[3] }}</td>
    </tr>
{% endfor %}
</table>
<hr>
<a href="/lowscoreteam">Näytä sittenkin huonoimmat?</a>

{% endblock %}