{% extends "layout.html" %}
{% block title %}Uusi käyttäjä{% endblock %}
{% block content %}
{% if session.user_id %}
<h1>Hall of fame</h1>
<hr>
<p>Pelaaja | Voitot | Häviöt | KD-Ratio</p>
{% for pelaaja in pelaajat %}
<p> {{ pelaaja[0] }} | {{ pelaaja[1] }} | {{ pelaaja[2] }} | {{ pelaaja[3] }}</p>

{% endfor %}
<a href="/lowscoreplayer">Näytä sittenkin huonoimmat?</a>
<hr>
<a href="/logout">Kirjaudu ulos</a>
<a href="/" >Etusivu</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}
{% endblock %}