{% extends "layout.html" %}
{% block content %}
{% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}
    <h3>Parhaat ottelut</h3>
    {% for ottelu in ottelut %}

        
    <div class="ottelut">
        <h4>{{ ottelu[0] }} </h4><h4>-</h4><h4> {{ ottelu[1] }}</h4>
        <div class="joukkueet1">
        {{ ottelu[2] }}
        </div>
        <div class="ottelu">
            <ul class="ottelutiedot">
            <li>
            <i>Pelattu:</i> {{ ottelu[4].strftime("%Y-%m-%d %H:%M:%S") }}
            <li>
            <i>{{ ottelu [6] }} | Yläpeukut - Alapeukut | {{ ottelu [7] }} </i>
            </li>
            </ul>
            
            <div class="ottelunappi">
                <form action ="/ottelu/{{ ottelu[5] }}" method="POST">
                    <input type="hidden" name="otteluid" value="{{ ottelu[5] }}">
                    <input type="submit" value="Näytä ottelu">
                </form>
            </div>
        </div>
        <div class="joukkueet2">   
        {{ ottelu[3] }}
        </div>
        
        
    </div>
    <div class="test"></div>
    {% endfor %}
    <p>
        
        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj

        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj

        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj

        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj

        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj

        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj

        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj

        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj

        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj

        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj
        asldjlsajlkjaecorepofflösjlkj

    </p>

{% endblock %}
