<p>Etusivu</p>
{% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}
{% if session.user_id %}
    <p>Olet kirjautunut nimellä {{ session.user_id }}</p>
    <a href="/logout">Kirjaudu ulos</a>

    <form action ="/newteam" method="POST">
        <input type="submit" value="Luo joukkue">
    </form>
    <form action ="/newmatch" method="POST">
        <input type="submit" value="Merkitse ottelu">
    </form>
    <form action ="/highscoreteam" method="POST">
        <input type="submit" value="Näytä parhaat joukkueet">
    </form>
    <form action ="/highscoreplayer" method="POST">
        <input type="submit" value="Näytä parhaat pelaajat">
    </form>
{% else %}
    <form action ="/login" method="GET">
        <input type="submit" value="Kirjaudu sisään">
    </form>

{% endif %}


