{% if session.user_id %}
Olet kirjautunut sisään.
<a href="/">Etusivu</a> | <a href="/logout">Kirjaudu ulos</a>
<hr>
<p>Ottelut</p>
    {% for ottelu in ottelut %}
    <i>Kotijoukkue: </i> {{ ottelu[0] }}
    <p>
    <i>Vierasjoukkue: </i> {{ ottelu[1] }}
    <p>
    <i>Kotijoukkueen pisteet: </i> {{ ottelu[2] }}
    <p>
    <i>Vierasjoukkueem pisteet: </i> {{ ottelu[3] }}
    <p>
    <i>Pelattu:</i> {{ ottelu[4].strftime("%Y-%m-%d %H:%M:%S") }}
    <form action ="/naytakommentit" method="POST">
        <input type="hidden" name="id" value="{{ ottelu[5] }}">
        <input type="submit" value="Näytä {{ ottelu[5] }}. ottelun kommentit">
    </form>

    <hr>
    {% endfor %}

{% else %}
    <form action ="/login" method="GET">
        <input type="submit" value="Kirjaudu sisään">
    </form>

{% endif %}