
<!DOCTYPE html>
<link rel="stylesheet" href="./static/main.css">

<meta name='viewport' content='width=device-width, initial-scale=1'>
<body>
    <div class "header">
        <title>Tulosseuranta - {% block title %}{% endblock %}</title>
        <h1>Tulosseuranta</h1>

        {% if session.user_id %}
        <p>Olet kirjautunut nimellä {{ session.username }}{% if session.admin == True %} (Admin) {% endif %}</p>
        {% endif %}

        <a href="/">Etusivu</a>

        {% if session.user_id %}
        <a href="/logout">Kirjaudu ulos</a>
        {% endif %}
    </div>
    <hr>
    {% block content %}{% endblock %}
    <hr>
</body>
