
<!DOCTYPE html>
<link rel="stylesheet" href="/static/main.css?2222122122222221222242236552125322222222222222222222222212222223222222222222222222221323442222222222222222222">

<meta name='viewport' content='width=device-width, initial-scale=1'>
    <header>
        <title>Tulosseuranta - {% block title %}{% endblock %}</title>
        <h1>Tulosseuranta</h1>

        {% if session.user_id %}
        <p>Olet kirjautunut nimellä {{ session.username }}{% if session.admin == True %} (Admin) {% endif %}</p>
        {% endif %}
        <nav>
            <ul>
                <li><a href="/">Etusivu</a></li>
                <li><a href="/newteam">Luo joukkue</a></li>
                <li><a href="/newmatch">Merkitse ottelu</a></li>
                <li><a href="/highscoreteam">Parhaat joukkueet</a></li>

                <li><a href="/highscoreplayer">Parhaat pelaajat</a></li>
                <li><a href="/naytaottelut">Kaikki ottelut</a></li>
                {% if session.user_id %}
                <li><a href="/logout">Kirjaudu ulos</a></li>
                {% else %}
                <li><a href="/login">Kirjaudu sisään</a></li>
                {% endif %}
            </ul>
        </nav>
        {% if session.admin == True %}
        <nav>
            <ul>
                <li><a href="/modifymatch">Muokkaa otteluita</a></li>
                <li><a href="/modifyteam">Muokkaa joukkueita</a></li>
            </ul>
        </nav>
        {% endif %}
    </header>
    <body>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
