
<!DOCTYPE html>
<link rel="stylesheet" href="/static/main.css?22221222222222222222222323222222252222223422231222222243246534634422443232232282322222222222s72232522122224223655222125322222222222222222222222212222223222222222222222222221323442222222222222222222">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<meta name='viewport' content='width=device-width, initial-scale=1'>
    <header>
        
        <title>Tulosseuranta - {% block title %}{% endblock %}</title>
        <h1>Tulosseuranta</h1>

        {% if session.user_id %}
        <p>Olet kirjautunut nimellä {{ session.username }}{% if session.admin == True %} (Admin) {% endif %}</p>
        {% endif %}
        <div class="topnav" id="myTopnav">
            <a href="/" class="active">Etusivu</a>
            <a href="/newteam">Luo joukkue</a>
            <a href="/newmatch">Merkitse ottelu</a>
            <a href="/highscoreteam">Parhaat joukkueet</a>
            <a href="/highscoreplayer">Parhaat pelaajat</a>
            <a href="/show_matches">Kaikki ottelut</a>
            {% if session.admin == True %}
                <a href="/modifymatch">Muokkaa otteluita</a>
                <a href="/modifyteam">Muokkaa joukkueita</a>
            {% endif %}
            {% if session.user_id %}
                <a href="/logout">Kirjaudu ulos</a>
                {% else %}
                <a href="/login">Kirjaudu sisään</a>
            {% endif %}
            
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
              <i class="fa fa-bars"></i>
            </a>
        </div>
          
          
    </header>
    <body>
    <div class="content">
        {% block content %}{% endblock %}
        <br>
        <hr>
        <p style="font-size: 2vh;"><i>"Calicem in pila seminabis"</i> - Julius Caesar, 45 eKr.</p>
    </div>
</body>
<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>
