{% extends "layout.html" %}
{% block title %}Hall of losers{% endblock %}
{% block content %}

<h2>Hall of losers</h2>
<hr>
<table class="scoretable">
    <tr>
      <th>Pelaaja</th>
      <th>Voitot</th>
      <th>Häviöt</th>
      <th>KD-Ratio</th>
    </tr>
{% for pelaaja in pelaajat %}
    <tr>
      <td>{{ pelaaja[0] }}</td>
      <td>{{ pelaaja[1] }}</td>
      <td>{{ pelaaja[2] }}</td>
      <td>{{ pelaaja[3] }}</td>
    </tr>
{% endfor %}
</table>
<hr>
<a href="/highscoreplayer">Näytä sittenkin parhaat?</a>

{% endblock %}