{% extends "layout.html" %}
{% block title %}Ottelun muokkaus{% endblock %}
{% block content %}
{% if session.admin %}


<h2> Otteluiden muokkaaminen</h2>
<hr>
{% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
        <hr>
    {% endfor %}
<h5>Ottelun tuloksen muokkaaminen</h5>
<form action="/modifymatchresult" method="POST" required>
Ottelun ID:
<input type="text" name="otteluid" autofocus required></p>
Oikea lopputulos, kotijoukkueen pisteet:
<input type="number" name="homepoints" required></p>
Vierasjoukkueen pisteet:
<input type="number" name="awaypoints" required></p>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

<input type="submit" value="Syötä uusi tulos" class="button">
</form>
<br>
<hr>
<br>
<h5>Ottelun poistaminen</h5>
<form action="/deletematch" method="POST" required>
    Ottelun ID:
    <input type="text" name="otteluid" required></p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    
    <input type="submit" value="Poista ottelu" class="button">
    </form>
    {%else%}
        <p>Sinulla ei ole admin-oikeuksia.</p>
    {% endif %}
<script>
    function check(form) {

        if (form.otteluid.value.length < 1) {
            alert("Tyhjä kenttä");
            return false;
        }
        if (form.kotipoints.value.length < 1) {
            alert("Tyhjä kenttä");
            return false;
        }
        if (form.vieraspoints.value.length < 1) {
            alert("Tyhjä kenttä");
            return false;
        }


        return true;
    }
    
</script>

{% endblock %}