{% extends "layout.html" %}
{% block title %}Uusi käyttäjä{% endblock %}
{% block content %}
{% if session.user_id %}

    <h2>Uusi ottelu</h2>

{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}

<form action="/creatematch" method="POST" required>
    Joukkueesi nimi:
    <input type="text" name="home_team" autofocus required value="{% if session.home_team %}{{session.home_team}}{% endif %}"></p>
    Vastustajan joukkue:
    <input type="text" name="away_team" required value="{% if session.away_team %}{{session.away_team}}{% endif %}"></p>
    
    Lopputulos:
    Upottamanne mukit:
    <input type="number" name="home_points" required value="{% if session.home_points %}{{session.home_points}}{% endif %}"></p>
    Toisen joukkueen upottamat mukit:
    <input type="number" name="away_points" required value="{% if session.away_points %}{{session.away_points}}{% endif %}"></p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    
    <input type="submit" value="Syötä tulos" class="button">
</form>
{%else%}
<form action ="/login" method="GET">
    <p>Kirjaudu sisään jos haluat lisätä uuden ottelun.</p>
    <input type="submit" value="Kirjaudu sisään" class="button">
</form>
{% endif %}
<script>
    function check(form) {

        if (form.team1.value.length < 1) {
            alert("Tyhjä kenttä");
            return false;
        }
        if (form.team2.value.length < 1) {
            alert("Tyhjä kenttä");
            return false;
        }
        if (form.team1points.value.length < 1) {
            alert("Tyhjä kenttä");
            return false;
        }
        if (form.team2points.value.length < 1) {
            alert("Tyhjä kenttä");
            return false;
        }


        return true;
    }
    
</script>

{% endblock %}