{% extends "layout.html" %}
{% block title %}Uusi käyttäjä{% endblock %}
{% block content %}
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
{% else %}
{% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}

<form action="/sign_in" method="POST" onsubmit="return check(this)">
<p>Uusi tunnus:<br>
<input type="text" name="username" autofocus placeholder="Käyttäjänimi"></p>
<p>Uusi salasana:<br>
<input type="password" name="password" placeholder="Salasana"></p>
<input type="submit" value="Luo tunnus" class="button">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>
<hr>
<form action ="/login" method="GET">
    <p>Onko sinulla jo tunnus?</p>
    <input type="submit" value="Kirjaudu sisään" class="button">
</form>
{% endif %}

<script>
    function check(form) {
        if (form.username.value.length > 100) {
            alert("Käyttäjänimi on liian pitkä");
            return false;
        }
        if (form.username.value.length < 1) {
            alert("Käyttäjänimi on liian lyhyt");
            return false;
        }
        if (form.password.value.length < 4) {
            alert("Salasana on liian lyhyt");
            return false;
        }
        return true;
    }
    </script>

{% endblock %}