{% extends "layout.html" %}
{% block title %}Uusi käyttäjä{% endblock %}
{% block content %}
{% if session.user_id %}

<h1>Ottelu {{ ottelu[0] }} vs  {{ ottelu[1] }}</h1>
<p>Yläpeukut: {{ arviot[0] }} </p>
<p>Alapeukut: {{ arviot[1] }} </p>
<i>Kotijoukkue: </i> {{ ottelu[0] }}
    <p>
    <i>Vierasjoukkue: </i> {{ ottelu[1] }}
    <p>
    <i>Kotijoukkueen pisteet: </i> {{ ottelu[2] }}
    <p>
    <i>Vierasjoukkueen pisteet: </i> {{ ottelu[3] }}
    <p>
    <i>Pelattu:</i> {{ ottelu[4].strftime("%Y") }}
    {% for message in get_flashed_messages() %}
        <p><b>{{ message }}</b></p>
    {% endfor %}
    <form action ="/ottelu/{{ ottelu[5] }}/lisaaArvio" method="POST">
        <input type="hidden" name="otteluid" value="{{ ottelu[5] }}">
        <input type="hidden" name="arvio" value="1">
        <input type="submit" value="Anna yläpeukku bro">
    </form>
    
    <form action ="/ottelu/{{ ottelu[5] }}/lisaaArvio" method="POST">
        <input type="hidden" name="otteluid" value="{{ ottelu[5] }}">
        <input type="hidden" name="arvio" value="-1">
        <input type="submit" value="Huono peli bro">
    </form>

    <form action ="/ottelu/{{ ottelu[5] }}/lisaakommentti" method="POST" onsubmit="return check(this)">
        <input type="text" name="viesti"></p>
        <input type="hidden" name="otteluid" value="{{ ottelu[5] }}">
        <input type="submit" value="Kommentoi ottelua">
    </form>
    <h3>Viestit</h3>
    {% for viesti in viestit %}
    <i><b>Viesti:</b></i> {{ viesti[0] }}
    <p>
    <i><b>Lähettäjä:</b></i> {{ viesti[1] }}
    <p>
    <i><b>Aika:</b></i> {{ viesti[2].strftime("%Y-%m-%d %H:%M:%S") }}
    {% endfor %}
    
    

{% else %}
    <form action ="/login" method="GET">
        <input type="submit" value="Kirjaudu sisään">
    </form>

{% endif %}
<script>
    function check(form) {

        if (form.viesti.value.length < 1) {
            alert("Tyhjä kenttä");
            return false;
        }
        if (form.viesti.value.length > 500) {
            alert("Liian pitkä kommentti");
            return false;

        }
        return true;
    }
</script>
{% endblock %}