{% extends "layout.html" %}
{% block title %}Uusi käyttäjä{% endblock %}
{% block content %}

<h2>Ottelusivu</h2>
<div class="singlematch">
    <h4>{{ ottelu[0] }} </h4><h4>-</h4><h4> {{ ottelu[1] }}</h4>
    <div class="joukkueet1">
    <h2>{{ ottelu[2] }}</h2>
    </div>
    
    <div class="ottelu">
    </div>
    <div class="joukkueet2">   
        <h2>{{ ottelu[3] }}</h2>
        </div>
        <ul class="ottelutiedot">
        <li>
        <i>Pelattu:</i> {{ ottelu[4].strftime("%Y-%m-%d %H:%M:%S") }}
        <li>
        <i>{{ ottelu [6] }} | Yläpeukut - Alapeukut | {{ ottelu [7] }} </i>
        </li>
        </ul>
    
    
    
</div>
{% if session.user_id %}
<div class="arvioinnit">
    <form action ="/ottelu/{{ ottelu[5] }}/lisaaArvio" method="POST">
        <input type="hidden" name="otteluid" value="{{ ottelu[5] }}">
        <input type="hidden" name="arvio" value="1">
        <input type="submit" value="Anna yläpeukku" class="button">
    </form>

    <form action ="/ottelu/{{ ottelu[5] }}/lisaaArvio" method="POST">
        <input type="hidden" name="otteluid" value="{{ ottelu[5] }}">
        <input type="hidden" name="arvio" value="-1">
        <input type="submit" value="Anna alapeukku" class="button">
    </form>
    
</div>
{% endif %}
<br>
<hr>
    <h3>Viestit</h3>
    
    {% for viesti in viestit %}
    <div class="message">
    <i><b>Viesti #{{ viesti[3] }}:</b></i> <p>{{ viesti[0] }}</p>
    <p>
    <i><b>Lähettäjä:</b></i> <p>{{ viesti[1] }}</p>
    <p>
    <i><b>Aika:</b></i> {{ viesti[2].strftime("%Y-%m-%d %H:%M:%S") }}
    </div>
    <hr>
    {% endfor %}
    {% if session.user_id %}
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}
    <form action ="/ottelu/{{ ottelu[5] }}/lisaakommentti" method="POST" onsubmit="return check(this)">
        <input type="text" name="viesti" placeholder="Kirjoita tähän..." value="{% if session.message %}{{session.message}}{% endif %}"">
        <input type="hidden" name="otteluid" value="{{ ottelu[5] }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="Kommentoi" class="button">
    </form>
    {% else %}
    <form action ="/login" method="GET">
        <p>Kirjaudu sisään, jos haluat kommentoida.</p>
        <input type="submit" value="Kirjaudu sisään" class="button">
    </form>
    {% endif %}
    


<script>
    function check(form) {

        if (form.viesti.value.length < 1) {
            alert("Tyhjä kenttä");
            return false;
        }
        if (form.viesti.value.length > 500) {
            alert("Liian pitkä kommentti");
            return false;

        }
        return true;
    }
</script>
{% endblock %}